<?xml version="1.0"?>
<config>
    <modules>
        <Wage_Jira>
            <version>0.1.1</version>
        </Wage_Jira>
    </modules>
    <admin>
        <routers>
			<jira>
				<use>admin</use>
				<args>
					<module>Wage_Jira</module>
					<frontName>jira</frontName>
				</args>
			</jira>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Wage_Jira>
							<title>Jira Module</title>
							<sort_order>10</sort_order>
						</Wage_Jira>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<jira>
					<file>jira.xml</file>
				</jira>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <jira>
                <class>Wage_Jira_Model</class>
                <resourceModel>jira_mysql4</resourceModel>
            </jira>
            <jira_mysql4>
                <class>Wage_Jira_Model_Mysql4</class>
                <entities>
                    <projects>
                        <table>jira_projects</table>
                    </projects>
                    <tickets>
                        <table>jira_tickets</table>
                    </tickets>
                    <refreshtime>
                        <table>jira_refreshtime</table>
                    </refreshtime>
                </entities>
            </jira_mysql4>
        </models>
        <resources>
            <jira_setup>
                <setup>
                    <module>Wage_Jira</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </jira_setup>
            <jira_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </jira_write>
            <jira_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </jira_read>
        </resources>
        <blocks>
            <jira>
                <class>Wage_Jira_Block</class>
            </jira>
        </blocks>
        <helpers>
            <jira>
                <class>Wage_Jira_Helper</class>
            </jira>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <fetchJiraProjects>
                <schedule><cron_expr>48 3 * * *</cron_expr></schedule>
                <run><model>jira/jira::importProjects</model></run>
            </fetchJiraProjects>
            <fetchJiraTickets>
                <schedule><cron_expr>48 3 * * *</cron_expr></schedule>
                <run><model>jira/jira::importTickets</model></run>
            </fetchJiraTickets>
        </jobs>
    </crontab>
</config>